
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Uploads utilisateurs FABOS
/public/uploads/avatars/*
/public/uploads/profile-banners/*
/public/uploads/creations/images/*
/public/uploads/creations/files/*

# Garder les dossiers vides dans Git si besoin
!/public/uploads/avatars/.gitkeep
!/public/uploads/profile-banners/.gitkeep
!/public/uploads/creations/images/.gitkeep
!/public/uploads/creations/files/.gitkeep